/* font */
@font-face {
    font-family: 'LeeSeoyun';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    font-size: 16px;
    font-family: 'LeeSeoyun';
}

nav {
    background-color: RGB(230, 155, 13);
}

.nav-container {
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: black;
    font-size: 2rem;
}

.nav-contact {
    color: black;
    border: 0;
    background: none;
    cursor: pointer;
    font-size: 1.5rem;   
    font-family: inherit;

}
/* 네비게이션 */

.category-title {
    font-size: 4rem;
}
.category-item {
    width: 25%;
    height: 5rem;
    background: none;
    border: none;
    font-size: 3rem;
    font-family: inherit;
}
.category-item:hover {
    background-color: RGB(230, 155, 13);
    cursor: pointer;
    border-radius: 1rem;
}
.inner {
    padding: 0 1rem;
}

@media all and (min-width: 1024px) {
    .inner {
        max-width: 1024px;
        margin: 0 auto;
    }
}

/* 카카오맵 CSS */

body {
    height: 100vh;
  }
  
nav {
    height: 59px;
  }
  
main {
    padding-top: 1.5rem;
    height: calc(100% - 59px);
    display: flex;
    flex-direction: column;
    
  }
  
#map {
    flex-grow: 1;
    width: 100%;
    height: 100%;
  }
